@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-blue: hsl(240, 73%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(0deg, rgba(101,101,231,1) 25%, rgba(175,103,233,1) 75%);
}

.container {
    width: 875px;
    height: 485px;
    overflow: hidden;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.side1 {
    display: flex;
    align-items: center;
}

.side1 img {
    top: 45%;
    left: 153px;
    position: absolute;
}

.img {
    width: 472px;
    height: 360px;
    transform: translateX(-18%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 421px 322px;
    background-image: url(images/illustration-woman-online-desktop.svg);
}

.box {
    width: 191px;
    height: 184px;
    position: fixed;
    margin-top: 87px;
    margin-left: -91px;
    background-image: url(images/illustration-box-desktop.svg);
}

.shadow {
    width: 692px;
    height: 660px;
    position: fixed;
    margin-top: -71px;
    margin-left: -329px;
    background-repeat: no-repeat;
    background-size: 692px 660px;
    background-image: url(images/bg-pattern-desktop.svg);
}

.side2 {
    font-size: 15px;
    padding-top: 40px;
    padding-right: 60px;
    transform: translateX(-9%);
}

.header {
    font-size: 30px;
    font-weight: 700;
}

.header p {
    margin-top: 20px;
}

.expansive-title {
    display: flex;
    cursor: pointer;
    line-height: 24px;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-grayish-blue);
}

.expansive-title p{
    margin: 12px 0px;
}

.expansive-title.active {
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.expansive-title:hover {
    transition: 0.2s;
    color: var(--soft-red);
}

.expansive-title.active:hover {
    color: var(--very-dark-desaturated-blue);
}

.panel {
    display: none;
    color: var(--dark-grayish-blue);
}

.panel p {
    margin-top: 0;
    font-size: 13px;
}

.panel.active{
    display: block;
}

.arrow.active {
    transform: rotate(180deg);
}

.expansive {
    border-bottom: 1px solid var(--light-grayish-blue);
}

@media (max-width: 840px) {
    .container {
        width: 350px;
        height: 550px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        background-color: var(--white);
    }

    .img {
        width: 257px;
        margin: 50px;
        height: 194px;
        transform: unset;
        position: fixed;
        background-size: unset;
        transform: translateY(-10%);
        background-position: center;
        background-image: url(images/illustration-woman-online-mobile.svg);
    }

    .box {
        display: none;
    }

    .shadow {
        width: 257px;
        height: 155px;
        position: fixed;
        margin-top: 155px;
        margin-left: 50px;
        background-repeat: no-repeat;
        background-size: 257px 116px;
        background-image: url(images/bg-pattern-mobile.svg);
    }

    .side2 {
        margin: 25px;
        font-size: 14px;
        transform: unset;
        padding-top: unset;
        padding-top: 110px;
        padding-right: unset;
    }

    .header p {
        margin-top: 0;
        text-align: center;
    }
}
 